## Importing the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

## Data Exploration and Preprocessing

In [17]:
## Load dozzy dataset
df = pd.read_csv('../dozzy_data.csv')

In [18]:
## Check the columns and rows of the data - the shape of the data
df.shape

(300, 12)

In [21]:
## Checking the first 5 data 
df.head(5)

,q1,q2,q3,q4,q5,q6,q7,chronotype,timestamp,id,score_variance,confidence
0,0,2,1,1,0,0,0,Night Owl,2025-03-14 02:08:53,1,0.619048,60.0
1,2,1,1,0,2,3,0,Night Owl,2025-03-14 02:08:53,2,1.238095,60.0
2,1,1,0,0,1,0,0,Night Owl,2025-03-14 02:08:53,3,0.285714,60.0
3,2,0,0,1,0,2,0,Night Owl,2025-03-14 02:08:53,4,0.904762,60.0
4,5,5,4,2,5,4,4,Morning Lark,2025-03-14 02:08:53,5,1.142857,60.0

In [22]:
## Checking the datatypes making sure that every data is clear
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   q1              300 non-null    int64
 1   q2              300 non-null    int64
 2   q3              300 non-null    int64
 3   q4              300 non-null    int64
 4   q5              300 non-null    int64
 5   q6              300 non-null    int64
 6   q7              300 non-null    int64
 7   chronotype      300 non-null    object
 8   timestamp       300 non-null    object
 9   id              300 non-null    int64
 10  score_variance  300 non-null    float64
 11  confidence      300 non-null    float64
dtypes: float64(2), int64(8), object(2)
memory usage: 28.2+ KB

In [35]:
## Identify the data.. - categorical(target values - y) and numerical data(X)
X = df.iloc[:, :7]
y = df.iloc[1:, -5]

X.head()

   q1  q2  q3  q4  q5  q6  q7
0   0   2   1   1   0   0   0
1   2   1   1   0   2   3   0
2   1   1   0   0   1   0   0
3   2   0   0   1   0   2   0
4   5   5   4   2   5   4   4

In [33]:
## Checking the missing values
df.isnull().sum()

q1                0
q2                0
q3                0
q4                0
q5                0
q6                0
q7                0
chronotype        0
timestamp         0
id                0
score_variance    0
confidence        0
dtype: int64