In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('../dozzy_data.csv')
df.tail()

,q1,q2,q3,q4,q5,q6,q7,chronotype,timestamp,id,score_variance,confidence
295,5,3,5,4,4,4,3,Morning Lark,2025-03-14 02:08:53,296,0.666667,60.0
296,5,4,5,3,4,4,3,Morning Lark,2025-03-14 02:08:53,297,0.666667,60.0
297,0,1,2,0,1,2,2,Night Owl,2025-03-14 02:08:53,298,0.809524,60.0
298,0,1,0,3,1,0,1,Night Owl,2025-03-14 02:08:53,299,1.142857,60.0
299,4,5,5,5,3,5,3,Morning Lark,2025-03-14 02:08:53,300,0.904762,60.0

In [5]:
df.describe()

,q1,q2,q3,q4,q5,q6,q7,id,score_variance,confidence
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,2.853333,2.636667,2.680000,2.576667,2.726667,2.743333,2.653333,150.500000,0.821746,60.079365
std,1.833857,1.869842,1.892849,1.779892,1.810030,1.844486,1.889902,86.746758,0.578978,0.872449
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.142857,60.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,75.750000,0.476190,60.000000
50%,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,150.500000,0.666667,60.000000
75%,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,225.250000,0.964286,60.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,300.000000,3.571429,71.428571

In [6]:
df.shape

(300, 12)

In [8]:
df.columns

Index(['q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'chronotype', 'timestamp',
       'id', 'score_variance', 'confidence'],
      dtype='object')

In [12]:
df.isnull().sum()

q1                0
q2                0
q3                0
q4                0
q5                0
q6                0
q7                0
chronotype        0
timestamp         0
id                0
score_variance    0
confidence        0
dtype: int64